## Return the fetched event
#if($ctx.result)
    $util.toJson({
        "id": $ctx.result.id.S,
        "userId": $ctx.result.userId.N,
        "createdAt": $ctx.result.createdAt.S,
        "payLoad": $ctx.result.payLoad.M
    })
#else
    $util.error("Event not found.", "NotFound")
#end
